<div *ngIf="subject">
<form class="form form-v1" [formGroup]="assignForm" (ngSubmit)="submitAssignment()" *ngIf="teachers" style="margin: 20px auto">
    <h3 class="form-title">Assigning Subject &mdash; <span style="font-style: italic;color: green;font-size: small;">{{subject.title}}</span> to </h3>
    <div class="body">
      <div class="control">
          <label for="teacherID" class="label">
              <span>Teacher</span>

              <span class="info danger" *ngIf="tID.invalid && (tID.dirty || tID.touched)">
                  <span *ngIf="tID.hasError('required')">
                      Select a teacher
                  </span>
              </span>
          </label>
          <select formControlName="teacherID" required id="teacherID"
                  [ngClass]="{'invalid': tID.invalid && (tID.dirty || tID.touched), 'valid': tID.valid && (tID.dirty || tID.touched)}">
              <option value="">Select a teacher</option>
              <option [value]="t._id" *ngFor="let t of teachers.teachers">{{t.name}}</option>
          </select>
      </div>


      <button class="button" type="submit" [disabled]="!assignForm.valid" [ngClass]="{'active': assignForm.valid}">Save Teacher</button>
    </div>
</form>
</div>
