<!-- <eden-apps-login *ngIf="!auth.verifyToken()"></eden-apps-login>
<eden-apps-layout *ngIf="auth.verifyToken()"></eden-apps-layout> -->
<eden-apps-ui-layout>
  <eden-apps-ui-header>
      <ul class="main-menu">
          <li>
            <a [routerLink]="['/']" routerLinkActive="active" (click)="thisRoute = ''" >Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/students']" routerLinkActive="active" (click)="thisRoute = 'students'" >Students</a>
          </li>
          <li>
            <a [routerLink]="['/subjects']" routerLinkActive="active" (click)="thisRoute = 'subjects'" >Subjects</a>
          </li>
          <li>
            <a [routerLink]="['/time-table']" routerLinkActive="active" (click)="thisRoute = 'time-table'" >Time Table</a>
          </li>
          <li>
            <a [routerLink]="['/teachers']" routerLinkActive="active" (click)="thisRoute = 'teachers'" >Teachers</a>
          </li>
          <li>
            <a [routerLink]="['/accounts']" routerLinkActive="active" (click)="thisRoute = 'accounts'" >Accounts</a>
          </li>
          <li>
            <a [routerLink]="['/users']" routerLinkActive="active" (click)="thisRoute = 'users'" >Users</a>
          </li>
        </ul>
        <div class="account">
          <ul>
            <li>
              <a class="user" *ngIf="auth.verifyToken()">{{
                auth.decodeToken()?.email
              }}</a>
            </li>
            <li>
              <a (click)="auth.logout()" class="logout-btn" *ngIf="auth.verifyToken()"
                >Logout</a
              >
            </li>
            <li>
              <a
                class="login-btn"
                [routerLink]="['/login']"
                *ngIf="!auth.verifyToken()"
                >Login</a
              >
            </li>
          </ul>
        </div>
  </eden-apps-ui-header>
  <eden-apps-ui-sidebar>
    <div class="brand">
      <a href="">Eden Project</a>
    </div>
    <div class="advert">
      <h3>
        Welcome User
      </h3>
      <p>
        Eden, breaking new grounds!
      </p>
    </div>
    <ul class="sidebar-menu">
      <li>
        <a [routerLink]="['/']" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/students']" routerLinkActive="active">Students</a>
        <div *ngIf="thisRoute === 'students'">
          <ul class="submenu">
            <a [routerLink]="['students', 'new']">New Student</a>
          </ul>
        </div>
      </li>
      <li>
        <a [routerLink]="['/subjects']" routerLinkActive="active">Subjects</a>
      </li>
      <li>
        <a [routerLink]="['/time-table']" routerLinkActive="active"
          >Time Table</a
        >
      </li>
      <li>
        <a [routerLink]="['/teachers']" routerLinkActive="active">Teachers</a>
      </li>
      <li>
        <a [routerLink]="['/accounts']" routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
      </li>
    </ul>
    <div class="footer">
      <small>&copy;2019 Berko Johnson. Email: berkojohnson@gmail.com</small>
    </div>
  </eden-apps-ui-sidebar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</eden-apps-ui-layout>
