<eden-apps-ui-layout>
  <eden-apps-ui-header>
    <ul class="main-menu">
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/students']" routerLinkActive="active">Students</a>
      </li>
      <li>
        <a [routerLink]="['/subjects']" routerLinkActive="active">Subjects</a>
      </li>
      <li>
        <a [routerLink]="['/time-table']" routerLinkActive="active"
          >Time Table</a
        >
      </li>
      <li>
        <a [routerLink]="['/teachers']" routerLinkActive="active">Teachers</a>
      </li>
      <li>
        <a [routerLink]="['/accounts']" routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
      </li>
    </ul>
    <div class="account">
      <ul>
        <li>
          <a class="user" *ngIf="auth.verifyToken()">{{
            auth.decodeToken()?.email
          }}</a>
        </li>
        <li>
          <a
            (click)="auth.logout()"
            class="logout-btn"
            *ngIf="auth.verifyToken()"
            >Logout</a
          >
        </li>
        <li>
          <a
            class="login-btn"
            [routerLink]="['/login']"
            *ngIf="!auth.verifyToken()"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </eden-apps-ui-header>
  <eden-apps-ui-sidebar>
    <div class="brand">
      <a href="">Eden Project</a>
    </div>
    <div class="advert">
      <h3>
        Welcome <br />
        <span *ngIf="auth.verifyToken(); else noUser">
          <a class="user">{{ auth.decodeToken().email }}</a>
          <br>
          <a
            (click)="auth.logout()"
            class="logout-btn"
            *ngIf="auth.verifyToken()"
            >Logout</a
          >
        </span>
        <ng-template #noUser>User</ng-template>
      </h3>
      <p class="slogan">
        Eden, breaking new grounds!
      </p>
    </div>
    <ul class="sidebar-menu">
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/students']" routerLinkActive="active">Students</a>
      </li>
      <li>
        <a [routerLink]="['/subjects']" routerLinkActive="active">Subjects</a>
      </li>
      <li>
        <a [routerLink]="['/time-table']" routerLinkActive="active"
          >Time Table</a
        >
      </li>
      <li>
        <a [routerLink]="['/teachers']" routerLinkActive="active">Teachers</a>
      </li>
      <li>
        <a [routerLink]="['/accounts']" routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a [routerLink]="['/users']" routerLinkActive="active">Users</a>
      </li>
    </ul>
    <div class="footer">
      <small>&copy;2019 Berko Johnson. Email: berkojohnson@gmail.com</small>
    </div>
  </eden-apps-ui-sidebar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</eden-apps-ui-layout>
