<div class="sticky-sidebar">
  <div class="brand"><a href="">Eden Project</a></div>

  <div class="advert">
    <h3>
      Welcome User
    </h3>
    <p>
      Eden, breaking new grounds!
    </p>
  </div>
  <hr class="hr" />
  <ul class="sidebar-menu">
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="active"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/students']"
        routerLinkActive="active"
        >Students</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/subjects']"
        routerLinkActive="active"
        >Subjects</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/time-table']"
        routerLinkActive="active"
        >Time Table</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/teachers']"
        routerLinkActive="active"
        >Teachers</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/accounts']"
        routerLinkActive="active"
        >Accounts</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/users']"
        routerLinkActive="active"
        >Users</a
      >
    </li>
  </ul>
  <eden-apps-footer></eden-apps-footer>
</div>
