<div *ngIf="subject">
  <form class="form form-v1" [formGroup]="updateSubject" (ngSubmit)="update()">
    <h5 class="form-title">Updatin Subject's Title</h5>
    <div class="body">
      <div class="control">
        <label for="title" class="label">
          <span>Title</span>
  
          <div class="info danger" *ngIf="s.invalid && (s.dirty || s.touched)">
            <div *ngIf="s.hasError('required')">
              Title of the subject is required
            </div>
          </div>
        </label>
        <input
          type="text"
          formControlName="title"
          required
          id="title"
          [ngClass]="{
            invalid: s.invalid && (s.dirty || s.touched),
            valid: s.valid && (s.dirty || s.touched)
          }"
        />
      </div>
  
      <button class="button" type="submit" [disabled]="!updateSubject.valid">
        Update Subject
      </button>
    </div>
  </form>
</div>
