<div class="table">
  <h5 class="title">Lessons Today {{ thisDay }} - {{ today | date: 'fullDate' }}</h5>
  <table>
    <tr>
      <th>Subject</th>
      <th>Time</th>
      <th>Status</th>
      <th>Students</th>
    </tr>
    <tr *ngFor="let lesson of summary?.lessons">
      <td>{{ lesson?.subject }}</td>
      <td>{{ lesson?.time }}</td>
      <td>{{ lesson?.status }}</td>
      <td>
        <a [routerLink]="['time-table']">
          <strong>View Students</strong>
        </a>
        <!-- <ul>
          <li *ngFor="let student of lesson?.students">
            <a [routerLink]="['students', student._id]">
              <strong>{{ student?.name }}</strong>
            </a>
          </li>
        </ul> -->
      </td>
    </tr>
  </table>
</div>
