<div class="table">
  <h5 class="title">Lessons for {{ thisDay }}</h5>
  <table>
    <tr>
      <th>Subject</th>
      <th>Time</th>
      <th>Status</th>
      <th>Students</th>
    </tr>
    <tr *ngFor="let lesson of summary?.lessons">
      <td>{{ lesson?.subject }}</td>
      <td>{{ lesson?.time }}</td>
      <td>{{ lesson?.status }}</td>
      <td>
        <a [routerLink]="['time-table']">
          <strong>View Students</strong>
        </a>
      </td>
    </tr>
  </table>
</div>


<div class="pagination" *ngIf="summary.lessons">
    <button
      class="previous"
      (click)="getLessons(previousDay)"
    >
      {{ previousDay }}
    </button>
    <button class="current">{{ thisDay }}</button>
    <button
      class="next"
      (click)="getLessons(nextDay)"
    >
      {{ nextDay }}
    </button>
  </div>